@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, .font-heading {
  font-family: var(--font-outfit), sans-serif;
}

::selection {
  background: rgba(59, 130, 246, 0.3);
  color: white;
}
